.RegisterTemplate {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #343a40;

  .header {
    display: flex;
    align-items: center;
    height: 6rem;
    margin: 0 15%;
    padding: 0 1rem;

    .link {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 600;
    }

    .light {
      margin-top: 1rem;
      color: #adb5bd;
      font-size: 1.5rem;
      font-weight: 600;
      span {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  .section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
