.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-top: -6rem;
  width: 512px;

  .formHeader {
    background: #7048e8;
    color: #fff;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .form {
    width: 100%;
    padding: 2rem 3rem;
    .lable-input {
      & {
        margin-top: 1.5rem;
      }
      .label {
        span {
          margin-left: 0.25rem;
          color: red;
        }
      }

      input {
        outline: none;
        border: none;
        width: 100%;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ced4da;
        font-size: 1.25rem;

        &:focus {
          border-bottom: 1px solid #7048e8;
        }

        ::placeholder {
          font-weight: 100;
        }
      }
    }
    .agreement {
      margin-top: 2rem;
      color: #868e96;
      font-size: 0.85rem;

      a {
        color: #484c50;
        font-weight: 500;
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      .button {
        padding: 0.75rem 1rem;
        border-radius: 4px;
        background: #7048e8;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background: #8963f8d5;
        }

        &:active {
          background: #7f57f7;
        }

        svg {
          font-size: 1rem;
          font-size: 400;
        }
      }
    }
  }
}
