.user-menu-wrapper {
  position: relative;
  z-index: 10;
  .user-menu-positioner {
    background: white;
    position: absolute;
    top: 1.5rem;
    right: 0.1rem;
    .rotated-square {
      z-index: 0;
      position: absolute;
      width: 1rem;
      height: 1rem;
      background: #adb5bd;
      top: -8px;
      right: 16px;
      transform: rotate(45deg);
    }

    .user-menu {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      z-index: 1;
      position: relative;
      font-size: 0.875rem;
      background: #fff;
      min-width: 10rem;
      border: 1px solid #adb5bd;
      .menu-items {
        .separated {
          width: 100%;
          height: 1px;
          background: #e9ecef;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
