.UserThumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  background-image: url('/static/images/default_thumbnail.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    filter: brightness(105%);
  }
}
