.UserAboutEdit {
  .btn-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 1rem;
      color: white;
      background: #9576f5;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
