.Tabs {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    width: 6rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    &:hover {
      color: black;
    }
  }

  .active {
    color: #845ef7;
    font-weight: 600;
    border-bottom: 2px solid #845ef7;
    &:hover {
      color: #845ef7;
    }
  }

  a + a {
    margin-left: 1rem;
  }
}
