.LoginTemplate {
  display: flex;
  height: 100%;

  .left {
    flex-grow: 3;
    background: #343a40;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      padding-left: 6rem;
      padding-right: 6rem;

      .logo {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
        font-family: Inconsolata;
      }

      h2 {
        margin-top: 5rem;
      }
    }
  }

  .right {
    flex-grow: 7;
    display: flex;
    justify-content: center;
    background: #f1f3f5;
  }
}
