.SavePostTemplate {
  main {
    width: 768px;
    margin: 6rem auto;
    padding: 0 1rem;
    h2 {
      font-size: 3rem;
      font-weight: 500;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ced4da;
    }
  }
}
